*.pyc
ncs.conf
ncs-cdb/
logs/
packages/
state/
storedstate
follower/
venv/
local-files/
pkg-repo/*/load-dir
pkg-repo/*/private-jar
pkg-repo/*/shared-jar
pkg-repo/*/src/java/build
pkg-repo/**/namespaces
pkg-repo/**/ncsc-out
pkg-repo/**/*fxs
pkg-repo/**/*ccl
pkg-repo/**/package-meta-data.xml
pkg-repo/**/build-meta-data.xml
pkg-repo/BUILT
SINGLE-BUILD
README.ncs
reference_tests/
oe/
results/
rollback/
test-results/
